@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

@import url('https://fonts.cdnfonts.com/css/yeseva-one');

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.logo {
    margin-right: 95px;
    color: #E3B873;
    text-transform: uppercase;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav-item {
    margin-right: 47px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

.header-nav-link:hover {
    color: #E3B873;
}

.phone {
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.front {
    background-image: url(../images/room.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.front::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.front-container {
    position: relative;
    width: 520px;
    margin-left: 137px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.highlighted-text {
    color: #E3B873;
}

.front-container-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
    width: 504;
    margin-top: 19px;
}

.calculate-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 42px 21px 41px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-top: 41px;
}

.transparent-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 23px 21px 22px;
    background: none;
    border: 1px solid white;
    margin-left: 20px;
}

.completed-projects {
    background-color: #131313;
    padding-top: 107px;
    padding-bottom: 415px;
    position: relative;
}

.completed-container {
    position: relative;
    width: 1171px;
    height: 552px;
    margin-left: 135px;
}

.completed-column-one {
    float: left;
    width: 442px;
}

.completed-title {
    margin-top: 70px;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-description {
    margin: 34px 0px 0px 0px;
    width: 442px;
    height: 86px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: white;
}

.completed-characteristics {
    margin: 42px 0px 0px 0px;
    width: 400px;
    overflow: hidden
}

.characteristics-column {
    float: left;
    width: 50%;
}

.completed-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: white;
}

.completed-column-two {
    float: left;
    width: 679px;
    margin-left: 50px;
}

.completed-items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.completed-item {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.completed-item-active {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.completed-image {
    margin-top: 45px;
}

.completed-nav-container {
    padding: 0;
    margin-top: 45px;
    width: 206px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/arrow-left.svg);
}

.arrow-right {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/arrow-right.svg);
}

.completed-nav {
    padding: 0;
    width: 64px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.completed-nav-item {
    width: 10px;
    height: 10px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/dot.svg);
}

.completed-nav-selected {
    background-image: url(../images/dot-selected.svg);
}

.online-control {
    margin-top: -324px;
    position: relative;
}

.control-title-container {
    width: 196px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.control-title {
    font-size: 20px;
    line-height: 120%;
}

.camera-separator {
    width: 60%;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-video {
    width: 817px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/online-control-img.png');
    background-repeat: no-repeat;
}

.control-video::before {
    position: relative;
    content: '';
    width: 817px;
    height: 434px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.play-button {
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    border: none;
    text-indent: -9999px;
    background-image: url(../images/play.svg);
    background-size: cover;
    background-color: transparent;
}
.line-separator {
    width: 100%;
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.control-description {
    width: 631px;
    height: 131px;
    margin-top: 35px;
    display: flex;
    text-align: center;
}