@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

@import url('https://fonts.cdnfonts.com/css/yeseva-one');

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.logo {
    margin-right: 95px;
    color: #E3B873;
    text-transform: uppercase;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav-item {
    margin-right: 47px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

.header-nav-link:hover {
    color: #E3B873;
}

.phone {
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.front {
    background-image: url('../images/room.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.front::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.front-container {
    position: relative;
    width: 520px;
    margin-left: 137px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.highlighted-text {
    color: #E3B873;
}

.front-container-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
    width: 520px;
    margin-top: 19px;
    padding: 0;
}

.calculate-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 42px 21px 41px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-top: 41px;
}

.transparent-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 23px 21px 22px;
    background: none;
    border: 1px solid white;
    margin-left: 20px;
}

.completed-projects {
    background-color: #131313;
    padding-top: 107px;
    padding-bottom: 415px;
    position: relative;
}

.completed-container {
    position: relative;
    width: 1171px;
    height: 552px;
    margin-left: 135px;
}

.completed-column-one {
    float: left;
    width: 442px;
}

.completed-title {
    margin-top: 70px;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-description {
    margin: 34px 0px 0px 0px;
    width: 442px;
    height: 86px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: white;
}

.completed-mob-image {
    display: none;
}

.completed-characteristics {
    margin: 42px 0px 0px 0px;
    width: 400px;
    overflow: hidden
}

.characteristics-column {
    float: left;
    width: 50%;
}

.completed-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: white;
}

.completed-column-two {
    float: left;
    width: 679px;
    margin-left: 50px;
}

.completed-items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.completed-item {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.completed-item-active {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.completed-image {
    margin-top: 45px;
}

.completed-nav-container {
    padding: 0;
    margin-top: 45px;
    width: 206px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url('../images/arrow-left.svg');
}

.arrow-right {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url('../images/arrow-right.svg');
}

.completed-nav {
    padding: 0;
    width: 64px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.completed-nav-item {
    width: 10px;
    height: 10px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url('../images/dot.svg');
}

.completed-nav-selected {
    background-image: url('../images/dot-selected.svg');
}

.online-control {
    margin-top: -324px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.control-title-container {
    width: 235px;
    height: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.control-title {
    font-size: 20px;
    line-height: 120%;
}

.camera-separator {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.control-video {
    width: 817px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/online-control-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.control-video::before {
    position: relative;
    content: '';
    width: 817px;
    height: 434px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.play-button {
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    border: none;
    text-indent: -9999px;
    background-image: url('../images/play.svg');
    background-size: cover;
    background-color: transparent;
}

.line-separator {
    width: 100%;
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.control-description {
    width: 681px;
    height: 131px;
    margin-top: 35px;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: #363636;
}

.control-input {
    width: 769px;
    height: 51px;
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contact {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-contact {
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
}

.input-contact::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.control-checkbox-mob {
    display: none;
}

.submit-button {
    width: 200px;
    height: 51px;
    font-style: normal;
    padding: 0;
    border-radius: 0;
}

.control-checkbox {
    margin-top: 35px;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
    font-size: small;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.checkbox-text {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
}

.repair-types {
    margin-top: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.repair-title-container {
    width: 257px;
    height: 70px;
    text-align: center;
}

.repair-title {
    font-size: 20px;
    line-height: 120%;
    color: #181818;
}

.tools-separator {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.repair-catalog {
    margin-top: 31px;
    width: 1236px;
    height: 608px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repair-catalog-items {
    margin: 294px 31px 0px;
    width: 330px;
    height: 286px;
    text-align: left;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.redecoration {
    width: 392px;
    height: 421px;
    background-image: url('../images/redecoration.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.overhaul {
    width: 392px;
    height: 421px;
    background-image: url('../images/overhaul.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.designer-repair {
    width: 392px;
    height: 421px;
    background-image: url('../images/designer-repair.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.repair-catalog-subtitle {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    color: #363636;
    padding-top: 25px;
    padding-left: 31px;
    margin: 0;
}

.repair-catalog-list {
    font-size: 13px;
    line-height: 200%;
    color: #959595;
}

.price-button {
    padding: 17px;
    width: 228px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.benefits-and-request {
    display: flex;
    flex-direction: row;
    margin-top: 124px;
}

.benefits-background {
    width: 703px;
    height: 645px;
    background-image: url('../images/city.png');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    transform: scale(-1, 1);
    opacity: 20%;
}

.benefits-list {
    width: 450px;
    height: 474px;
    margin-left: -450px;
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.benefits-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    margin-right: 11px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    background: #E3B873;
    border: 8px solid white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.benefit {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.request-and-discount {
    width: 506px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 106px;
    margin-left: 190px;
}

.request-container {
    width: 506px;
    height: 509px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.request-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 28px auto;
    text-align: center;
}

.request-input {
    width: 408px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-contacts-container {
    display: flex;
    flex-direction: column;
}
        
.request-contact {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-contact-input {
    width: 408px;
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    background-color: #131313;
    color: white;
}

.request-contact-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: white;
}

.request-checkbox {
    width: 408px;
    margin-top: 16px;
}

.req-checkbox-text {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    color: white;
}

.call-measurer {
    width: 213px;
    height: 51px;
    margin-top: 39px;
    margin-left: 244px;
    font-style: normal;
    font-size: 13px;
    line-height: 120%;
}

.discount-container {
    width: 471px;
    height: 72px;
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.piggy-bank {
    background: #E3B873;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
}

.piggy-bank-icon {
    width: 40px;
}

.discount-text {
    width: 344px;
    height: 72px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.wildest-fantasies {
    height: 864px;
    margin-top: 242px;
    display: flex;
    flex-direction: row;
    background-image: url('../images/wildest-fantasies.jpg');
    background-size: cover;
    position: relative;
}

.wildest-fantasies::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.wf-list-container {
    width: 411px;
    height: 629px;
    margin-top: 137px;
    margin-left: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.wf-title-container {
    width: 411px;
    height: 66px;
}

.wf-title {
    font-size: 27px;
    line-height: 120%;
    color: #E3B873;
}

.wf-list {
    list-style: none;
    margin: 47px 0px 98px;
    padding: 0;
}

.wf-list-item {
    margin-bottom: 25px;
}

.wf-list-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 140%;
}

.wf-list-link:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.wf-mob-image {
    display: none;
}

.wf-image-container {
    position: relative;
    width: 354px;
    height: 946px;
    margin-top: -41px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wf-image-container2 {
    position: relative;
    width: 354px;
    height: 937px;
    margin-top: -113px;
    margin-left: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-clients {
    height: 997px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-title-container {
    width: 150px;
    text-align: center;
}

.our-clients-title {
    font-size: 20px;
    line-height: 120%;
    color: #181818;
}

.handshake-separator {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.recommendation {
    width: 476px;
    height: 57px;
    margin-top: 24px;
    text-align: center;
}

.reviews-container {
    width: 1236px;
    height: 455px;
    margin: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-review {
    width: 376px;
    height: 455px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-photo-name {
    width: 263px;
    height: 76px;
    margin-top: 24px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.client-photo {
    height: 76px;
    width: 76px;
    border-radius: 50%;
}

.client-name {
    padding-left: 9px;
    font-size: 18px;
    line-height: 110%;
}

.client-review-text {
    width: 324px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.client-review-interline {
    width: 293px;
    display: flex;
    min-height: 54px;
    margin-top: 63px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.interline-meters {
    width: 135px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.interline-icon {
    width: 32px;
    height: 32px;
}

.interline-text {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.interline-days {
    width: 158px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 0.75px solid #FFFFFF;
}

.cityline {
    height: 355px;
    width: 100%;
    background-image: url('../images/cityline.png');
    background-size: 45%;
    background-position: bottom;
}

.questions-and-contacts {
    height: 954px;
    background-image: url('../images/office.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-and-contacts::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.questions {
    width: 883px;
    height: 445px;
    margin-top: -222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    position: relative;
}

.questions-title {
    font-family: 'Yeseva One', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 34px auto 45px;
}

.questions-container {
    width: 520px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-phone-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-phone-input {
    width: 231px;
    display: flex;
    flex-direction: column;
}

.quest-contact {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.quest-input {
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    background-color: #181818;
    color: white;
}

.question-container {
    display: flex;
    flex-direction: column;
}

.question-input {
    width: 520px;
    display: flex;
    flex-direction: column;
}

.quest-checkbox {
    width: 286px;
    margin: 46px auto;
}

.address {
    width: 589px;
    margin-top: 52px;
    position: relative;
}

.address-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #E3B873;
}

.social {
    width: 71px;
    margin-top: 26px;
    display: flex;
    position: relative;
    justify-content: space-between
}

.social-icon {
    height: 28px;
    width: 28px;
}

.map {
    width: 925px;
    height: 465px;
    position: relative;
    margin-top: 43px;
    background-image: url('../images/map.jpg');
}

.footer {
    background-color: #131313;
}

.footer-content {
    height: 133px;
}

@media screen and (max-width: 1299px) {
    
    .container {
        padding: 0px 18px;
    }

    .header-content {
        height: 57px;
    }

    .logo{
        margin: 0;
    }
    
    .header-nav {
        display: none;
    }

    .phone {
        text-decoration-line: none;
        color: #FFFFFF;
        margin: 0;
        min-width: auto;
    }
    
    .request-call {
        display: none;
    }

    .front {
        padding-top: 85px;
        width: 100%;
        height: 476px;
    }

    .front-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .turnkey-repair {
        font-size: 23px;
        line-height: 30.55px;
    }

    .front-container-text {
        font-size: 14px;
        line-height: 19.02px;
        padding: 0;
        width: 100%;
    }

    .calculate-button {
        margin-top: 32px;
        width: 100%;
    }

    .transparent-button {
        margin: 26px 0px 61px;
        width: 100%;
    }

    .completed-projects {
        padding: 0;
    }

    .completed-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 670px;
        margin: auto;
    }

    .completed-column-one {
        float: none;
        width: 100%;
    }

    .completed-title {
        margin-top: 36px;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.07em;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }

    .completed-description {
        margin: 22px auto 0px;
        width: 100%;
        height: 86px;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        color: white;
        text-align: center;
    }

    .completed-mob-image {
        display: flex;
        min-width: 340px;
        min-height: 241px;
        width: 100%;
        height: auto;
        background: center center no-repeat url('../images/room-mobile.png');
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .ellipse-button-left {
        width: 36px;
        height: 36px;
        border: none;
        margin-left: 13px;
        text-indent: -9999px;
        background-image: url('../images/ellipse-left.svg');
        background-size: cover;
        background-color: transparent;
    }

    .ellipse-button-right {
        width: 36px;
        height: 36px;
        border: none;
        margin-right: 13px;
        text-indent: -9999px;
        background-image: url('../images/ellipse-right.svg');
        background-size: cover;
        background-color: transparent;
    }

    .completed-nav-container {
        display: none;
    }

    .completed-column-two {
        display: none;
    }

    .online-control {
        margin: 0;
        background-color: #131313;
        padding: 0px 18px;
    }

    .control-title {
        font-size: 22px;
        line-height: 30px;
    }

    .completed-characteristics {
        padding: 0;
    }

    .completed-subtitle {
        font-size: 14px;
        line-height: 19px;
    }
    
    .completed-text {
        font-size: 11px;
        line-height: 18px;
    }
  
   .control-video {
        padding: 0;
        width: 340px;
        height: 207px;
    }

    .control-video::before {
        width: 340px;
        height: 207px;
    }

    .play-button {
        width: 60px;
        height: 60px;
    }

    .line-separator {
        margin-top: 28px;
    }

    .control-description {
        width: auto;
        height: 107px;
        margin-top: 21px;
        font-size: 11px;
        line-height: 19px;
        color: white;
        padding: 0;
    }

    .control-input {
        width: 100%;
        height: 311px;
        margin-top: 60px;
        flex-direction: column;
    }

    .input-container {
       width: 100%;
       height: 45px;
    }

    .contact {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .input-contact {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        padding-bottom: 8px;
        outline: none;
        background-color: #131313;
        color: white;
    }
    
    .input-contact::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: rgba(255, 255, 255, 1);
    }

    .control-checkbox-mob {
        display: flex;
        width: 100%;
    }

    .submit-button {
        width: 100%;
        margin-top: 62px;
        margin-bottom: -25px;
    }

    .control-checkbox {
        display: none;
    }

    .repair-types {
        margin-top: 83px;
        padding: 0px 18px;
        height: 1980px;
    }

    .repair-title {
        font-size: 22px;
        line-height: 30px;
    }

    .repair-catalog {
        flex-direction: column;
        justify-content: start;
        margin-top: 40px;
        width: 100%;
        height: auto;
    }

    .redecoration {
        width: 100%;
        height: 365px;
    }

    .overhaul {
        width: 100%;
        height: 365px;
        margin-top: 178px;
    }
    
    .designer-repair {
        width: 100%;
        height: 365px;
        margin-top: 178px;
    }

    .repair-catalog-items {
        margin: 223px 0px 0px;
        width: 270px;
        height: 241px;
    }

    .repair-catalog-subtitle {
        font-size: 15px;
        line-height: 21px;
        padding-top: 21px;
        padding-left: 31px;
    }

    .repair-catalog-list {
        font-size: 13px;
        line-height: 22px;
        margin: 7px 0px;
    }

    .price-button {
        padding: 14px;
        width: 190px;
        font-size: 15px;
        line-height: 21px;
    }

    .benefits-and-request {
        display: none;
    }

    .our-clients {
        display: none;
    }

    .wildest-fantasies {
        background-image: none;
        background-color: #181818;
        padding: 0px 18px;
        width: auto;
        height: 121px;
        margin: 0;
    }

    .wildest-fantasies::before {
        display: none;
    }

    .wf-list-container {
        width: auto;
        height: 332px;
        margin: -211px auto 0px;
    }

    .wf-title-container {
        width: 100%;
        text-align: center;
    }
    
    .wf-title {
        font-size: 22px;
        line-height: 30px;
    }

    .wf-list {
        display: none;
    }

    .wf-mob-image {
        display: flex;
        min-width: 340px;
        min-height: 242px;
        width: 100%;
        height: auto;
        margin-top: 24px;
        background: center center no-repeat url('../images/wildest-fantasies.jpg');
        background-size: cover;
        align-items: center;
        justify-content: space-between;
    }

    .wf-image-container {
        display: none;
    }

    .wf-image-container2 {
        display: none;
    }

    .questions-and-contacts {
        height: auto;
        padding: 0px 18px;
        margin-top: 0px;
        background-image: none;
        background-color: #181818;
    }
    
    .questions-and-contacts::before {
        display: none;
    }

    .questions {
        width: 100%;
        height: 497px;
        margin-top: 52px;
    }

    .questions-container {
        width: 100%;
        height: 261px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .name-phone-container {
        width: 100%;
        height: 152px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name-phone-input {
        width: 100%;
    }
    
    .quest-contact {
        font-size: 14px;
        line-height: 23px;
    }
    
    .question-input {
        width: 100%;
    }

    .quest-checkbox {
        width: 286px;
        margin: 22px auto 0px;
    }

    .mobile-map {
        width: 100%;
        height: 255px;
        margin-top: 46px;
        background-image: url('../images/map.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .address {
        width: 100%;
        margin-top: 42px;
    }

    .address-title {
        font-size: 18px;
        line-height: 25px;
    }
    
    .social {
        margin: 26px 0px;
    }

    .map {
        display: none;
    }

    .footer {
        display: none;
    }





}