@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

@import url('https://fonts.cdnfonts.com/css/yeseva-one');

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.logo {
    margin-right: 95px;
    color: #E3B873;
    text-transform: uppercase;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav-item {
    margin-right: 47px;
}

.header-nav-link {
    text-decoration: none;
    color: white;
}

.header-nav-link:hover {
    color: #E3B873;
}

.phone {
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.front {
    background-image: url(../images/room.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.front::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.front-container {
    position: relative;
    width: 520px;
    margin-left: 137px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.highlighted-text {
    color: #E3B873;
}

.front-container-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
    width: 504;
    margin-top: 19px;
}

.calculate-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 42px 21px 41px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-top: 41px;
}

.transparent-button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    line-height: 15px;
    padding: 19px 23px 21px 22px;
    background: none;
    border: 1px solid white;
    margin-left: 20px;
}

.completed-projects {
    background-color: #131313;
    padding-top: 107px;
    padding-bottom: 415px;
    position: relative;
}

.completed-container {
    position: relative;
    width: 1171px;
    height: 552px;
    margin-left: 135px;
}

.completed-column-one {
    float: left;
    width: 442px;
}

.completed-title {
    margin-top: 70px;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-description {
    margin: 34px 0px 0px 0px;
    width: 442px;
    height: 86px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: white;
}

.completed-characteristics {
    margin: 42px 0px 0px 0px;
    width: 400px;
    overflow: hidden
}

.characteristics-column {
    float: left;
    width: 50%;
}

.completed-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.completed-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: white;
}

.completed-column-two {
    float: left;
    width: 679px;
    margin-left: 50px;
}

.completed-items {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.completed-item {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.completed-item-active {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.completed-image {
    margin-top: 45px;
}

.completed-nav-container {
    padding: 0;
    margin-top: 45px;
    width: 206px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-left {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/arrow-left.svg);
}

.arrow-right {
    width: 42px;
    height: 14px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/arrow-right.svg);
}

.completed-nav {
    padding: 0;
    width: 64px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.completed-nav-item {
    width: 10px;
    height: 10px;
    border: none;
    background: #131313 no-repeat;
    text-indent: -9999px;
    background-image: url(../images/dot.svg);
}

.completed-nav-selected {
    background-image: url(../images/dot-selected.svg);
}

.online-control {
    margin-top: -324px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.control-title-container {
    width: 200px;
    height: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.control-title {
    font-size: 20px;
    line-height: 120%;
}

.camera-separator {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.control-video {
    width: 817px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/online-control-img.png');
    background-repeat: no-repeat;
}

.control-video::before {
    position: relative;
    content: '';
    width: 817px;
    height: 434px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.play-button {
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    border: none;
    text-indent: -9999px;
    background-image: url(../images/play.svg);
    background-size: cover;
    background-color: transparent;
}
.line-separator {
    width: 100%;
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.control-description {
    width: 681px;
    height: 131px;
    margin-top: 35px;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: #363636;
}

.control-input {
    width: 769px;
    height: 51px;
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contact {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-contact {
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
}

.input-contact::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.submit-button {
    width: 200px;
    height: 51px;
    font-style: normal;
    padding: 0;
    border-radius: 0;
}

.control-checkbox {
    margin-top: 35px;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
    font-size: small;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.checkbox-text {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
}

.repair-types {
    margin-top: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.repair-title-container {
    width: 200px;
    height: 70px;
    text-align: center;
}

.repair-title {
    font-size: 20px;
    line-height: 120%;
    color: #181818;
}

.tools-separator {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.repair-catalog {
    margin-top: 31px;
    width: 1236px;
    height: 608px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repair-catalog-items {
    margin: 294px 31px 0px;
    width: 330px;
    height: 286px;
    text-align: left;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.redecoration {
    width: 392px;
    height: 421px;
    background-image: url(../images/redecoration.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.overhaul {
    width: 392px;
    height: 421px;
    background-image: url(../images/overhaul.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.designer-repair {
    width: 392px;
    height: 421px;
    background-image: url(../images/designer-repair.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.repair-catalog-subtitle {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    color: #363636;
    padding-top: 25px;
    padding-left: 31px;
    margin: 0;
}

.repair-catalog-list {
    font-size: 13px;
    line-height: 200%;
    color: #959595;
}

.price-button {
    padding: 17px;
    width: 228px;
    text-transform: uppercase;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.benefits-and-request {
    display: flex;
    flex-direction: row;
    margin-top: 124px;
}

.benefits-background {
    width: 703px;
    height: 645px;
    background-image: url('../images/city.png');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    transform: scale(-1, 1);
    opacity: 20%;
}

.benefits-list {
    width: 450px;
    height: 474px;
    margin-left: -450px;
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.benefits-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    margin-right: 11px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.benefit {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.request-and-discount {
    width: 506px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 106px;
    margin-left: 190px;
}

.request-container {
    width: 506px;
    height: 509px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 28px auto 28px;
    text-align: center;
}

.request-input {
    width: 408px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-contacts-container {
    display: flex;
    flex-direction: column;
}
        
.request-contact {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-contact-input {
    width: 408px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    outline: none;
    background-color: #131313;
    color: white;
}

.request-contact-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: white;
}

.request-checkbox {
    width: 408px;
    margin-top: 16px;
}

.req-checkbox-text {
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    color: white;
}

.call-measurer {
    width: 213px;
    height: 51px;
    margin-top: 39px;
    margin-left: 244px;
    font-style: normal;
    font-size: 13px;
    line-height: 120%;
}

.discount-container {
    width: 471px;
    height: 72px;
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.piggy-bank {
    background: #E3B873;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
}

.piggy-bank-icon {
    width: 40px;
}

.discount-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}